.nav-links
  .wrapper--nav
    .page-title
      a(href="/")
        h1
          | Lauren
          br
          | Nicole Smith
      img.animated.rotateIn(src="images/manager-pdx.png")
    .page-links
      a(href="https://medium.com/@smithln", target="_blank")
        button.btn-no-outline blog
      a(href="/reading-list")
        button.btn-no-outline reading list
      a(href="/lns-resume--2018.pdf", target="_blank").contact-btn
        button.btn-no-outline resume  
