doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width", initial-scale="1")
    meta(name="description" content="Lauren Nicole Smith's web site")
    title Lauren Nicole Smith
    
    link(rel="stylesheet" href="css/main.css" type="text/css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400" type="text/css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    
    link(rel="icon" href="assets/favicon.ico")    
  body
    .wrapper
      != yield
