.error {
  text-align: center;

  span {
    display: block;
  }

  span.header__emoji {
    font-size: (1.2 * $hero-font-size);
  }

  &__notes {
    text-align: center;

    a {
      border-bottom: 1px solid;
    }
  }
}

.error__notes--desktop {
  display: flex;
  justify-content: space-between;

  div {
    width: 50%;
    padding: 0 $hero;
  }
}

#pong {
  width: 400px;
  height: 600px;
}

.error__notes--mobile {
  display: none;
  text-align: center;
}

@media screen and (max-width: $mobile) {

  .error__notes--mobile {
    display: block;
  }

  .error__notes--desktop {
    display: none;
  }

  #pong {
    width: 0;
    height: 0;

    canvas {
      width: 0;
      height: 0;
    }
  }
}
