.about {
  border-bottom: 1px solid $brand-secondary;
  padding-bottom: ($hero * 1.2);
  position: relative;

  .about__title {
    font-weight: 900;
    margin-bottom: 0;
  }

  .about__description {
    font-size: $medium-font-size;
    margin-top: 0;

    a {
      border-bottom: 1px solid;
    }
  }

  .about__bio {
    padding: $larger 0;
    max-width: 80%;

    a {
      border-bottom: 1px solid;
    }
  }

  button {
    margin-right: $hero;
  }
}

.contact {
  padding-top: $larger;
  position: relative;

  a {
    border-bottom: 0;
    font-size: $larger-font-size;
    margin-right: 1.2em;
    padding-bottom: 0;
  }

  .error-page-btn {
    font-size: $base-font-size;
    margin-right: 0;
    position: absolute;
    right: 0;
  }
}

article {
  header {
    > h2 {
      font-size: $base-font-size;
      font-weight: 700;
    }
  }

  &:after {
    clear: both;
    content: "";
    display: block;
  }
}

.teaching {
  margin-top: 3.157em;
}

@media screen and (max-width: $mobile) {

  .about {
    .about__bio {
      max-width: 100%;
    }
  }

  .error-page-btn {
    display: none;
  }
}
