.site-home {
  margin: 0 auto;

  .about {
    margin-bottom: 0;

    .about__title {
      font-size: 5.16em;
      line-height: 1.2em;
      padding-top: 150px;
      padding-bottom: 50px;
    }

    .about__bio-image {
      position: absolute;
      top: 90px;
      left: -50px;
      width: 25%;
      z-index: -1;
    }

    .about__bio {
      padding: $larger 0;
      position: absolute;
      top: 0;
      right: 0;
      width: 60%;

      a {
        border-bottom: 1px solid;
      }
    }

    .about__description {
      display: none;
    }

    button {
      margin-right: $hero;
    }
  }
}

.contact {
  padding-top: $larger;
  position: relative;

  .social-links {
    position: absolute;
    left: 0;
  }

  a {
    border-bottom: 0;
    color: $black;
    font-size: $larger-font-size;
    margin-right: 1.2em;
    padding-bottom: 0;

    i {
      transition: transform .2s;
    }

    &:hover {
      i {
        transform: translateY(-10px);
      }
    }
  }

  .contact-links {
    position: absolute;
    right: 0;

    .contact-btn {
      font-size: $base-font-size;
      margin-right: 0;
    }
  }
}

.egg {
  border: 1px solid $black;
  border-bottom: 0;
  border-right: 0;
  border-top-left-radius: 5px;
  font-size: $base-font-size;
  padding: 7px 15px;
  position: absolute;
  right: 0;
  bottom: 0;
}

article {
  header {
    > h2 {
      font-size: $base-font-size;
      font-weight: 700;
    }
  }

  &:after {
    clear: both;
    content: "";
    display: block;
  }
}

.teaching {
  margin-top: 3.157em;
}

@media screen and (max-width: $mobile) {

  .site-home {
    .about {
      padding-top: 50px;

      .about__title {
        font-size: 2.986em;
        padding-top: 0;
        padding-bottom: 7px;
      }

      .about__description {
        display: inline;
      }

      .about__bio {
        position: relative;
        width: 100%;
      }

      .about__bio-image {
        display: none;
      }
    }
  }

  .egg {
    display: none;
  }
}
