.sub-page {
  .page-title {
    img {
      animation: none;
    }
  }
}

.nav-links {
  padding-bottom: 50px;

  .wrapper--nav {
    display: flex;
    justify-content: space-between;
  }

  button {
    margin-left: $larger;
  }
}

.page-title {
  position: relative;
  top: 25px;

  a {
    color: $black;
  }

  h1 {
    background: $white;
    font-size: 2.986em;
    font-weight: 600;
    letter-spacing: .05em;
    line-height: 1.2em;
    padding-bottom: 8px;
  }

  img {
    position: absolute;
    top: -50px;
    left: -69px;
    width: 72%;
    z-index: -1;
    animation-delay: 1s;
  }
}

@media screen and (max-width: 1120px) {
  .page-title {
    img {
      display: none;
    }
  }
}

@media screen and (max-width: $mobile) {
  .page-title {
    top: 0;

    h1 {
      font-size: $large-font-size;
    }
  }

  .nav-links {
    padding-bottom: 0;
  }

  .page-links {
    max-width: 35%;
  }
}
