// Fonts

$font-primary: 'Rubik', sans-serif;

// Type Size - Minor Third

$hero-font-size: 2.074em;
$larger-font-size: 1.728em;
$large-font-size: 1.44em;
$medium-font-size: 1.2em;
$base-font-size: 1em;
$small-font-size: .833em;

// Spacing

$hero: 2.074em;
$larger: 1.728em;
$base: 1em;

// Colors

$black: #333333;
$gray: #737373;
$brand-primary: #3E3950;
$brand-secondary: #DFB9B0;
$white: #ffffff;

// Media Queries

$mobile: 530px;
$laptop: 800px;
