// Fonts

$font-primary: 'Inter var', sans-serif;
$font-secondary: 'Inter var', sans-serif;

// Type Size - Minor Third

$hero-font-size: 2.074em;
$larger-font-size: 1.728em;
$large-font-size: 1.44em;
$medium-font-size: 1.2em;
$base-font-size: 1em;
$small-font-size: .833em;

// Spacing

$hero: 2.074em;
$larger: 1.728em;
$base: 1em;

// Colors

$black: #342D33;
$gray: #737373;
$beige: #dae2f8;
$brand-primary: #f3e0d4;
$brand-secondary: #83558a;
$white: #ffffff;

// Transition

$transition-default: all .3s ease-out;

// Media Queries

$mobile: 530px;
$laptop: 800px;
