// Fonts

$font-primary: 'Inconsolata', monospace;

// Type Size - Perfect Fourth

$hero-font-size: 3.157em;
$larger-font-size: 2.369em;
$large-font-size: 1.77em;
$medium-font-size: 1.333em;
$base-font-size: 1.125em;
$small-font-size: .75em;

// Colors

$black: #333333;
$gray: #737373;
$brand-primary: #0073d5;
$white: #ffffff;

// Media Queries

$mobile: 530px;
$laptop: 800px;
