doctype html
html
  include includes/head.pug
  body
    div.wrapper
      include includes/logo.pug
      div.intro.experience
        div.company
          h2.alt-heading Flatiron Health
          h4.alt-heading.date 2019 - present
        div.position
          h4 Head of Design
          h5 I lead a team of 20+ Designers that span across Product Design, Brand, and Design Infrastructure. Together we help drive product strategy, scale design's impact through systems and practices, and elevate oncology research takeways through visual storytelling. 
          h4 Senior Director, Product Design
          h5 As a Senior Director, I led our Healthcare Design team and Design Systems team. Our Flagship product is an EHR built for Oncologists, used to document patient care and order treatment. 
          h5 Our Design Systems initiative spans all products across the business, including internal tooling that helps us enable cancer research and insights powered by real world data. 
          h6 Previously -- Director of Product Design, Healthcare & Lead Product Design Manager
        hr
        div.company
          h2.alt-heading Design Mentor
          h4.alt-heading.date 2015 - present
        div.position
          h4 Various
          h5 I mentor designers looking to make the transition into product design and design management. I've worked with organizations like Bloc and General Assembly to pair directly with individuals as well as teach courses focused on getting started with front-end development.
        hr
        div.company
          h2.alt-heading ATTN: Media
          h4.alt-heading.date 2014 - 2019
        div.position
          h4 Product Design Manager
          h5 As a Manager, I led a team focused on building web-based engagement platforms that paired with our scripted media. My team also designed and prototyped internal tools that helped streamline content discoverability and content management across thousands of files and social posts.
          h6 Previously -- UI Engineer
        hr
        div.position.link-out
          a(href="https://www.linkedin.com/in/laurenicolesmith/", target="_blank", rel="noopener") See all on LinkedIn →