doctype html
html
  include includes/head.pug
  body
    div.wrapper
      include includes/logo.pug
      div.intro
        h4.alt-heading Experience
        div.company
          h3 Flatiron Health
          h5.alt-heading 2019 - present
        div.position
          h4 Head of Design
          h5 I lead a team of 20+ Designers that span across Product Design, Brand, and Design Infrastructure. 
          h4 Senior Director, Product Design
          h5 I oversaw our Healthcare Design team and Design Systems team. Our Flagship product is an EHR built for Oncologists, used to document patient care and order treatment. 
          h5 Our Design Systems initiative spans all products across the business, including internal tooling that helps us deliver data and insights to Life Science customers. 
          p Previously -- Director of Product Design, Healthcare // Lead Product Design Manager
        hr
        div.company
          h3 Design Mentor
          h5.alt-heading 2015 - present
        div.position
          h5 I mentor designers looking to make the transition into product design and design management. I've worked with organizations like Bloc and General Assembly to pair directly with individuals as well as teach courses focused on getting started with front-end development.
        hr
        div.company
          h3 ATTN:
          h5.alt-heading 2014 - 2019
        div.position
          h4 Product Design Manager
          h5 I led a team focused on building customer experiences and online engagement platforms that paired with our scripted media content. We also designed and prototyped internal tools that helped with content management and curation.
          p Previously -- UI Engineer
        hr
        div.position.link-out
          a(href="https://www.linkedin.com/in/laurenicolesmith/", target="_blank", rel="noopener") See all on LinkedIn →