doctype html
html
  head
    title= name + "'s Resume"
    link(rel="stylesheet", href="/style.css")
  body
    h1 Lauren Ott
    p I lead Flatiron Health’s Design team, where we build technology that helps us learn from every person’s experience with cancer.
