doctype html
html
  head
    title= "Lauren Ott | Design Leader"
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin="")
    link(href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap", rel="stylesheet")
    link(href="https://use.fontawesome.com/releases/v5.0.10/css/brands.css", rel="stylesheet")
    link(href="https://use.fontawesome.com/releases/v5.0.10/css/fontawesome.css", rel="stylesheet")
    link(rel="stylesheet", href="/style.css")
  body
    div.intro
      h1 Lauren Ott
      h4 I lead Flatiron Health’s Design team, where we build technology that helps us learn from every person’s experience with cancer.
    div.social
      a(href="https://www.linkedin.com/in/laurenicolesmith/", target="_blank", rel="noopener")
        i.fab.fa-linkedin-in
