doctype html
html
  include includes/head.pug
  body
    div.wrapper
      include includes/logo.pug
      div.intro
        h1 Lauren Ott
        h4 I lead #[a(href="https://flatiron.com/", target="_blank", rel="noopener") Flatiron Health’s] Design team, where we build technology that helps us learn from every person’s experience with cancer.
      div.links
        div.social
          a(href="https://www.linkedin.com/in/laurenicolesmith/", target="_blank", rel="noopener")
            i.fab.fa-linkedin-in
        div.resume
          a(href="/experience", rel="noopener")
            h5.alt-heading resume
