doctype html
html
  head
    title= name + "'s Resume"
    link(rel="stylesheet", href="/style.css")
  body
    h1 #{name}
    h2 #{role}
    p This is a very simple resume website built with Jade/Pug.
