<div class="wrapper">
  <div class="social-media-list">

    {% if site.github_username %}
      <a href="https://github.com/{{ site.github_username }}" target="_blank" class="fa fa-github">
      </a>
    {% endif %}

    {% if site.twitter_username %}
      <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" class="fa fa-twitter-square">
      </a>
    {% endif %}

    {% if site.instagram_username %}
      <a href="https://instagram.com/{{ site.instagram_username }}" target="_blank" class="fa fa-instagram">
      </a>
    {% endif %}

    {% if site.dribbble_username %}
      <a href="https://dribbble.com/{{ site.dribbble_username }}" target="_blank" class="fa fa-dribbble">
      </a>
    {% endif %}

    {% if site.linkedin_username %}
      <a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank" class="fa fa-linkedin">
      </a>
    {% endif %}

  </div>
</div>
