section.error
  span 404
  h1 Not all error pages have to be boring. Let's play some pong.
  p 
    | Note: Must be on a desktop computer to play. Your arrow keys control your paddle.
#pong
p
  | This game was built in javascript and adapted from the great folks at 
  a(href="https://robots.thoughtbot.com/pong-clone-in-javascript" target="_blank") Thoughtbot 
  | who inpsire me to do a lot of things better.

      
