.site.site-404.sub-page
  section
  section.error
    .error__header
      span.header__emoji 🏓
      span
        | Sorry, that doesn't exist. In the meantime...
      h1
        | Let's play some pong
  #pong
  section.error__notes--desktop
    .thanks
      span Thanks
      p
        | This game was built in javascript and adapted from the great folks at 
        a(href="https://robots.thoughtbot.com/pong-clone-in-javascript" target="_blank") Thoughtbot 
        | who inpsire me to do a lot of things better.
    .notes
      span Notes
      p
        | Must be on a desktop computer to play. 
        br
        | Your arrow keys control your paddle.
  section.error__notes--mobile
    iframe(src="https://giphy.com/embed/144J9QT2mKgM2A" width="375" height="auto" frameBorder="0" class="giphy-embed" allowFullScreen)
    p Womp, you need to be on a desktop computer to play pong. 

        
