section.error
  span 404
  h1 Not all error pages have to be boring. Let's play some pong.
  p Note: This game was built in javascript and adapted from the great folks at 
    a(href="https://robots.thoughtbot.com/pong-clone-in-javascript" target="_blank") Thoughtbot 
    | who inpsire me do a lot of things better. Move your arrow keys to play.
#pong

      
