doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width", initial-scale="1")
    meta(name="description" content="Lauren Nicole Smith is a design manager")
    title Lauren Nicole Smith

    link(rel="stylesheet" href="/main.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik" type="text/css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/brands.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/fontawesome.css")

    link(rel="icon" href="favicon.ico")

    script(src="js/pong.js")
    
  body
    .wrapper
      != yield

    | <script>
    |   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    |   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    |   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    |   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    |   ga('create', 'UA-40870924-1', 'auto');
    |   ga('send', 'pageview');
    | </script>
