section
  header.about
    h1.about__title Lauren Nicole Smith
    h2.about__description manager, product designer
    p.about__bio
      | I'm currently running the product design team at with&nbsp;
      a(href="https://www.instagram.com/explore/tags/thatdoglincoln/", target="_blank") ATTN:&nbsp;
      | I enjoy a good error page, spending time with with&nbsp;
      a(href="https://www.instagram.com/explore/tags/thatdoglincoln/", target="_blank") #thatdoglincoln
      |, and mentoring designers who want to get started in HTML and CSS.
    a(href="https://medium.com/@smithln", target="_blank")
      button blog
    a(href="mailto:laurenicolesmith@gmail.com", target="_blank")
      button hmu
  .contact
    a(href="https://medium.com/@smithln", target="_blank"): i.fa.fa-medium
    a(href="http://www.instagram.com/laurenicolesmith", target="_blank"): i.fa.fa-instagram
    a(href="http://www.github.com/smithln", target="_blank"): i.fa.fa-github
    a(href="http://codepen.io/laurenicolesmith/", target="_blank"): i.fa.fa-codepen
    a(href="http://www.twitter.com/smithln", target="_blank"): i.fa.fa-twitter
