.site.site-home
  section
    .about
      .bio 
        h1 Lauren Nicole Smith
        p 👋
          | I'm a Product Designer and Manager at&nbsp;
          a(href="https://flatiron.com/", target="_blank") Flatiron Health.
          |&nbsp;Previously I led the product design team at ATTN: Media. 
        p
          | You can find me spending a lot of my free time with&nbsp;
          a(href="https://www.instagram.com/explore/tags/thatdoglincoln/", target="_blank") #thatdoglincoln
          |&nbspand mentoring designers who want to get started in UX, HTML and CSS. 
      .shapes
        img.shapes--left(src="images/square-dark.png")
        img.shapes--right(src="images/square.png")
    .contact
      .social-links
        a(href="http://www.instagram.com/laurenicolesmith", target="_blank"): i.fab.fa-instagram
        a(href="https://medium.com/@smithln", target="_blank"): i.fab.fa-medium
        a(href="http://www.github.com/smithln", target="_blank"): i.fab.fa-github
        a(href="http://www.twitter.com/smithln", target="_blank"): i.fab.fa-twitter-square
        a(href="https://www.linkedin.com/in/laurenicolesmith/", target="_blank"): i.fab.fa-linkedin-in
