section
  header.about
    h1.about__title Lauren Nicole Smith
    h2.about__description manager, product design at&nbsp;
      a(href="https://www.attn.com", target="_blank") ATTN:
    p.about__bio
      | I enjoy a good error page, spending time with with&nbsp;
      a(href="https://www.instagram.com/explore/tags/thatdoglincoln/", target="_blank") #thatdoglincoln
      |, and mentoring designers who want to get started in HTML and CSS. I'm always happy&nbsp;
      a(href="mailto:laurenicolesmith@gmail.com", target="_blank") to chat
      |&nbsp;about design over coffee or over a crowd.
    a(href="/work")
      button work
    a(href="/lns-resume--2018.pdf", target="_blank")
      button resume
      a(href="https://medium.com/@smithln", target="_blank")
        button blog
  .contact
    .social-links
      a(href="http://www.instagram.com/laurenicolesmith", target="_blank"): i.fab.fa-instagram
      a(href="http://www.github.com/smithln", target="_blank"): i.fab.fa-github
      a(href="http://codepen.io/laurenicolesmith/", target="_blank"): i.fab.fa-codepen
      a(href="http://www.twitter.com/smithln", target="_blank"): i.fab.fa-twitter-square
      a(href="https://dribbble.com/smithln", target="_blank"): i.fab.fa-dribbble
    a(href="/404").error-page-btn
      button 404 pong
