section
  header.about
    h1.about__title Lauren Nicole Smith
    h2.about__description Product Design Director at 
      a(href="http://www.attn.com", target="_blank") ATTN:
  .contact
    a(href="http://www.twitter.com/smithln", target="_blank"): i.fa.fa-twitter
    a(href="http://www.instagram.com/laurenicolesmith", target="_blank"): i.fa.fa-instagram
    a(href="http://www.github.com/smithln", target="_blank"): i.fa.fa-github
    a(href="http://www.dribbble.com/smithln", target="_blank"): i.fa.fa-dribbble
    a(href="http://codepen.io/laurenicolesmith/", target="_blank"): i.fa.fa-codepen
  article.teaching
    header
      h2 Recent Workshops
    ul.list--unstyled
      li.list__list-item
        span.type Workshop
        h2 General Assembly - Coding 101
        h3 Instructor
        span.date 
          a(href="https://generalassemb.ly/education/coding-101-htmlcss/austin/29182", target="_blank") October, 2016
      li.list__list-item
        span.type Workshop
        h2 General Assembly - Coding for Designers
        h3 Instructor
        span.date 
          a(href="https://generalassemb.ly/education/coding-for-designers", target="_blank") June, 2016
  
