@import 'scss/helpers/variables';
@import 'scss/components/lists';
@import 'scss/views/home';
@import 'scss/views/404';
@import url('https://rsms.me/inter/inter.css');

html {
  background-size: 100%;
  font-size: 15px;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  color: $black;
  font-family: $font-primary;
  font-weight: 400;
  letter-spacing: .03em;
  line-height: 1.5;
  margin: 0;
  margin-top: 75px;
  text-rendering: optimizeLegibility;
}

.site {
  > section {
    animation-delay: .25s;
  }

  main {
    animation-delay: .25s;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 800px;
  padding: 1.2em;
}

a {
  color: $brand-secondary;
  text-decoration: none;

  &:hover {
    transition: $transition-default;
  }
}

p {
  line-height: $larger;
}

h1, h2, h3, h4 {
  font-weight: inherit;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  font-family: $font-secondary;
  font-size: $hero-font-size;
  font-weight: 700;
}

h2 {
  font-size: $larger-font-size;
}

h3 {
  font-size: $large-font-size;
}

h4 {
  font-size: $medium-font-size;
}

small {
  font-size: $small-font-size;
}

button, .btn {
  background: transparent;
  border: 1px solid $brand-secondary;
  border-radius: 5px;
  color: $brand-secondary;
  font-family: $font-primary;
  font-size: $base-font-size;
  padding: 7px 15px;

  &:hover {
    cursor: pointer;
  }
}

.btn-no-outline {
  border: 0;
  border-radius: 0;
  padding: 0;

  &:hover {
    border-bottom: 1px solid;
  }
}

.btn-large {
  font-size: $larger-font-size;
}

form {
  .form-item {
    .field-label {
      display: block;
      font-size: $small-font-size;
      margin-bottom: 5px;
    }

    .field-input {
      background: transparent;
      border: 1px solid $black;
      border-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      color: $black;
      font-size: $small-font-size;
      font-color: $gray;
      font-family: $font-primary;
      padding: 15px;
    }

    .btn-form {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: 0;
      font-size: $small-font-size;
      font-weight: 600;
      letter-spacing: .1em;
      padding: 15px 20px;
      text-transform: uppercase;
    }
  }

  input::placeholder {
    color: $black;
  }
}

*:focus {
    outline: none;
}

#pong {
  border: 1px solid $brand-secondary;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $hero;
  display: block;
}

@media screen and (max-width: $mobile) {

  body {
    margin-top: 0;
  }

  h1 {
    font-size: $larger-font-size;
  }

  h2 {
    font-size: $large-font-size;
  }
}
