.site.site-books
  section
    header.about
      h1.about__title Lauren Nicole Smith
      h2.about__description manager, product design at&nbsp;
        a(href="https://www.attn.com", target="_blank") ATTN: 
      a(href="/")
        button.btn-home home   
  main 
    header.page-header
      h2 Reading List 
      p
        | As a design mentor, I'm often asked for resources and recommendations 
        | when it comes to professional advancement. Some of the books below
        | I've found helpful over the years, and tend to recommend to my students
        | when they're looking for information or advice. Some of them I just enjoy, 
        | and have had an indirect affect on my approach to both work and process.
    .reading-rec
      .reading-rec__list
        .reading-rec__list-item
          img(src="images/tech-wrong.jpg").reading-rec__list-item-image
        .reading-rec__list-item
          img(src="images/dataclysm.jpg").reading-rec__list-item-image
        .reading-rec__list-item
          img(src="images/pdfw.jpg").reading-rec__list-item-image
        .reading-rec__list-item
          img(src="images/convivial-toolbox.jpg").reading-rec__list-item-image  
        .reading-rec__list-item
          img(src="images/cosmos.jpg").reading-rec__list-item-image
        .reading-rec__list-item
          img(src="images/circle.jpg").reading-rec__list-item-image 
        .reading-rec__list-item
          img(src="images/wbba.jpg").reading-rec__list-item-image 
        .reading-rec__list-item
          img(src="images/crucial-conversations.jpg").reading-rec__list-item-image
