.site.site-work
  section
    header.about
      h1.about__title Lauren Nicole Smith
      h2.about__description manager, product design at&nbsp;
        a(href="https://www.attn.com", target="_blank") ATTN:
      a(href="/")
        button.btn-home home
    main
      p My work
