.site.site-work
  section
    header.about
      h1.about__title Lauren Nicole Smith
      h2.about__description manager, product design at&nbsp;
        a(href="https://www.attn.com", target="_blank") ATTN:
      a(href="/")
        button.btn-home home
    main
      p To see my work, reach out via email or on LinkedIn
      form
        .form-item
          .form-item__field-wrapper
            label.field-label(for="password-input") Password
            input.field-input(type="password", id="password-input", aria-label="Password", autofocus)
            button.btn-form(role="submit") Submit
