.home {
  text-align: center;

  h2 {
    margin: 20% 0 5%;
    font-size: 35px;
    letter-spacing: .05rem;
    font-family: $serif-font-family;

    @include media-query($on-palm) {
      font-size: 24px;
    }
    a {
      font-size: 30px;

      @include media-query($on-palm) {
        font-size: 20px;
      }
    }
  }
}
