.home {
  margin: 15% 0 5%;
  text-align: center;

  img {
    height: 220px;
    object-fit: cover;
    margin-bottom: 25px;
    width: 220px;

    -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);

    @include media-query($on-palm) {
      height: 150px;
      width: 150px;
    }

  }

  h1 {
    color: $black;
    font-size: 24px;
    font-weight: $bold-font-weight;
    letter-spacing: .25rem;
    margin-bottom: 0;
    text-transform: uppercase;

    @include media-query($on-palm) {
      font-size: 18px;
    }
  }

  h2 {
    color: $black;
    font-size: 20px;
    letter-spacing: .05rem;
    font-family: $serif-font-family;
    font-style: italic;
    font-weight: 400;
    letter-spacing: .16rem;

    @include media-query($on-palm) {
      font-size: 16px;
    }
  }
}
