/**
 * Site header
 */
.site-header {
    min-height: 56px;
    text-align: center;
    margin: 0 auto;
    margin-top: 2%;
    border-bottom: 5px solid $grey-color-light;
    max-width: (#{$content-width});
}

.site-title {
    float: left;
    font-weight: $bold-font-weight;
    color: $black;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: .2rem;
    padding: 10px 0px;
    text-transform: uppercase;
    text-align: center;

    &,
    &:visited {
        color: $black;
    }


    @include media-query($on-palm) {
      font-size: 16px;
      width: 100%;
      text-align: center;
      padding: 0;
    }
}


nav {
  text-align: center;
  ul {
    list-style-type: none;
    margin: 0;
    li {
      display: inline-block;
      font-size: $small-font-size;
      font-weight: $bold-font-weight;
      letter-spacing: .09rem;
      padding-left: 5%;
      text-transform: uppercase;

      &:first-child {
        padding-left: 0;
      }

    }
    i {
      padding-left: 5%;
    }
  }
  @include media-query($on-palm) {
    width: 100%;
    text-align: center;
    padding: 0 0 20px;
    ul {
      li {
        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 5px solid $grey-color-light;
    max-width: (#{$content-width});
    margin: 0 auto;
    padding: $spacing-unit 0;
    text-align: center;
    font-family: $serif-font-family;
    color: $text-color;
    p {
      letter-spacing: .04rem;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: 20px 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
