// Fonts

$font-primary: 'Montserrat', sans-serif;

// Type Size

$hero-font-size: 3.157em;
$larger-font-size: 2.369em;
$large-font-size: 1.77em;
$medium-font-size: 1.333em;
$base-font-size: 1.125em;
$small-font-size: .75em;

// Colors

$black: #333333;
$gray: #C0C0C0;
$brand-primary: #D2B48C;

// Media Queries

$mobile: 530px;
$laptop: 800px;
